.footer {
  background-color: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: var(--accent-color);

  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: calc(28 / 24);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer-logo-Studio {
  color: var(--primary-text-color);
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  @media screen and (max-width: 1199px) {
  }
}

.footer-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71x;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71x;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-contact .link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-address {
  margin-top: 20px;
}

.contact-item:not(:last-child) {
  margin-bottom: 12px;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
  }
}

.footer-soc-address {
  margin-left: 94px;

  @media screen and (min-width: 768px) {
    padding-right: 76px;
  }

  @media screen and (max-width: 1199px) {
    margin-left: 0;
    margin-bottom: 60px;
  }
}

.footer-soc-list {
  display: flex;
  gap: 10px;
}

.footer-soc-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 20px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-soc-icon {
  fill: var(--primary-text-color);
}

.footer-subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 20px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  max-width: 450px;

  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 12px;
  outline: transparent;
  background: transparent;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 450px;
    max-width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
  }
}

.footer-subscribe {
  @media screen and (min-width: 768px) {
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}

.button-subscribe {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  padding: 10px 28px;
  transition-property: color, background-color;
  margin-left: 12px;

  @media screen and (max-width: 1199px) {
    margin: 0;
  }
}

.button-icon-send {
  fill: var(--primary-text-color);
  margin-left: 10px;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}

.contact-item {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.footer-box-contact {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-left: 76px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0;
    margin: 0;
  }
}
