/* __________HEADER_________ */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  height: 80px;
  border: 1px solid #eeeeee;

  @media screen and (max-width: 768px) {
    height: 60px;
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 1200px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 50px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.header-contact {
  display: block;
  margin-left: auto;
  // display: flex;
  // gap: 10px;
  // flex-direction: column;
  // justify-content: center;
  // align-items: flex-start;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

.header-logo-Studio {
  color: #000000;
}

.header-list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contact .link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-list .current {
  color: var(--accent-color);
}

.header-item {
  position: relative;
}

.current::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: -32px;
  left: 0px;
}

.header-contact-item {
  display: flex;
  align-items: center;
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--second-title-text-color);
  margin-right: 50px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1200px) {
    font-size: 12px;
    line-height: 1.16;
    margin: 0;
  }
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--second-title-text-color);
  display: flex;
  align-items: center;

  @media screen and (max-width: 1200px) {
    font-size: 12px;
    line-height: 1.16;
    margin-top: 9px;
  }
}

.header-mail-icon {
  margin-right: 10px;
  fill: currentColor;

  @media screen and (min-width: 1200px) {
  }
}

.header-tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

// ------menu-----

.menu-open {
  margin-left: auto;
}

.menu-open {
  padding: 0;
  background-color: transparent;
  border: 0;
  position: absolute;
  // top: 10px;
  right: 15px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-open-icon {
  fill: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-text-color);
  top: 0;
  position: fixed;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  // > .container-mob {
  //   height: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  // }
}

.menu-close {
  padding: 0;
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-close-icon {
  fill: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.menu-open-icon {
  fill: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mob-menu-list {
  margin-bottom: 306px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-contact {
  margin-bottom: 64px;
}

.mob-contact-item {
  margin-bottom: 32px;
}

.mob-contact-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-soc {
  display: flex;
  gap: 20px;
}

.mob-soc-item {
  &:not(:first-child) {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: -10px;
      height: 22px;
      width: 2px;
      background-color: rgba(33, 33, 33, 0.2);
    }
  }
}

.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-soc-link::after {
  content: "";
  width: 1px;
  height: 22px;
  background-color: #212121;

  // position: absolute;
  // width: 22px;
  // height: 0px;
  // left: 135px;
  // top: 726px;

  // border: 1px solid rgba(33, 33, 33, 0.2);
  // transform: rotate(90deg);
}
