/* -----------MODAL----------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--primary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 300ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-close {
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close-icon {
  fill: #000000;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 12px;
  outline: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .modal-input:hover + &,
  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}

.input-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-field-coment {
  margin-bottom: 20px;
}

.modal-coment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-checkbox {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-check {
  margin-right: 8.38px;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 7px;
  .input-check:checked + & {
    background-color: var(--accent-color);
    border-color: transparent;
    fill: var(--primary-text-color);
  }
  .input-check:focus + & {
    border-color: var(--accent-color);
  }
}

.polici-link {
  text-decoration-line: underline;
  color: #2196f3;
}

.button-modal {
  font-family: "Roboto";
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  padding: 10px 52px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
